@page "/Transporter/Create"

@inherits TransporterEditBase

@if (Transporter == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenTemplateForm Data="@Transporter" TItem="TransporterModel" Submit="@((TransporterModel args) => { Submit(args); })" @ref="form">
        <!-- First Row - Registration information -->
        @if (isFirstRowVisible)
        {
            <RadzenRow class="custom-container" AlignItems="AlignItems.Center">
                <RadzenColumn Size="6" SizeMD="6">
                  <RadzenStack Gap="1rem">

                        <RadzenText TextStyle="TextStyle.Caption" class=".rz-color-primary">
                        <strong>Register in 5 minutes!</strong>
                    </RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    Whether you're an individual or a company, offer your vehicles for rent or transport services with ease.
                </RadzenText>

                <!-- Firstname Field -->
                <RadzenTextBox @bind-Value="Transporter.User.Firstname" Name="FirstName" Style="width: 100%;" Placeholder="Firstname" />
                <RadzenRequiredValidator Component="FirstName" Text="Firstname is required." />

                <!-- Lastname Field -->
                <RadzenTextBox @bind-Value="Transporter.User.Lastname" Name="LastName" Style="width: 100%;" Placeholder="Lastname" />
                <RadzenRequiredValidator Component="LastName" Text="Lastname is required." />

                <!-- Email Field -->
                <RadzenTextBox @bind-Value="Transporter.User.Email" Name="Email" Style="width: 100%;" Placeholder="Email"/>
                <RadzenRequiredValidator Component="Email" Text="Email is required." />
                <RadzenEmailValidator Component="Email" Text="Provide a valid email address" Popup=@popup />
                <RadzenCustomValidator Component="Email" Validator="@(() => ValidateNewEmail(Transporter.User.Email))" Text="Email already exists" Popup=@popup />

                    <!-- Register Button -->
                        <RadzenButton Text="Register" Click="@Register" Icon="save" />
                        </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6" class="image-column">
                <!-- Image Stack -->
                <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">
                    <RadzenImage Path="assets/img/Driver.webp" Style="width: 15rem;" AlternateText="community" />
                </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        }

        <!-- Second Row - More details after registration -->
        @if (!isFirstRowVisible)
        {
            <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
                <RadzenColumn Size="8" SizeMD="6">
                    <RadzenStack>
                        <RadzenFieldset Text="Personal Info">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Title" Component="Title" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDropDown @bind-Value="Transporter.User.Title" AllowClear="true" Placeholder="Select something" Data="@Titles"
                                                        Style="width: 100%;" TextProperty="Value" ValueProperty="Key" Name="Key"></RadzenDropDown>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Firstname" Component="Firstname" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Firstname" @bind-Value="Transporter.User.Firstname" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Lastname" Component="Lastname" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Lastname" @bind-Value="Transporter.User.Lastname" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Email" Component="Email" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Email" @bind-Value="Transporter.User.Email" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Personal phone number" Component="PersonalPhoneNumber" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="PersonalPhoneNumber" @bind-Value="Transporter.User.PersonalPhoneNumber" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                        <RadzenFieldset Text="Location Info">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Country" Component="Country" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="City" Component="City" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="City" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Address Line 1" Component="Address1" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Address1" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Address Line 2" Component="Address2" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Address2" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="State / Province / Region" Component="State" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="State" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Zip / Postal Code" Component="Zip" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Zip" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="8" SizeMD="6">
                    <RadzenStack>
                        <RadzenFieldset Text="Professionnal Info">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Hire Date" Component="HireDate" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDatePicker Style="width: 100%;" Name="HireDate" @bind-Value="Transporter.HireDate" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Role" Component="Role" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Role" @bind-Value="Transporter.JobRole" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Description" Component="Description" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Style="width: 100%;" Name="Description" @bind-Value="Transporter.Description" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                        <RadzenFieldset Text="POS Info">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="3">
                                        <RadzenLabel Text="Trans #" Component="TransId" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="9">
                                        <RadzenTextBox Disabled="true" Placeholder="S4485" Style="width: 100%;" Name="TransId" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="3">
                                        <RadzenLabel Text="Register" Component="Register" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="9">
                                        <RadzenTextBox Disabled="true" Placeholder="Register #4" Style="width: 100%;" Name="Register" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="3">
                                        <RadzenLabel Text="Clerk" Component="Clerk" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="9">
                                        <RadzenTextBox Disabled="true" Placeholder="Jane Doe" Style="width: 100%;" Name="Clerk" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="3">
                                        <RadzenLabel Text="Order Date" Component="OrderDate" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeSM="4" SizeMD="3">
                                        <RadzenLabel Text="Amount" Component="Amount" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
            </RadzenStack>
        }
    </RadzenTemplateForm>


}


@code {
    private bool isFirstRowVisible = true; // Controls the visibility of the first row
    private RadzenTemplateForm<TransporterModel> form;
    public bool popup= false;
    public bool ValidateNewEmail(string email)
    {
        return true;
    }

    private void Register()
    {
        if (form.EditContext.Validate())
        {
            isFirstRowVisible = false;
        }
    }

    private void Cancel()
    {
        // Optionally reset the form and show the first row again
        isFirstRowVisible = true;
    }
}
