<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Page Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="alert alert-info custom-404-content " role="alert">
                <img src="assets/img/notfound.webp" alt="Not Found Image" />
                <h2>404 - Page Not Found</h2>
                <p>We're sorry, but the page you are looking for does not exist. Please check the URL or return to the
                    <a href="/">home page</a>.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
